<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Parkinglot</title>
</head>
<body>
    <div class="welcome-container">
        <div class="inner-box">
            
            <div class="welcome-text">Welcome!</div>
            <div class="input-container">
                <div class="car-number-container">
                    <input id="input-car-number" type="text" placeholder="차량 번호"></input>
                    <button class="start-parking">입차</button>
                </div>
                <div class="car-number-container2">
                    <input id="input-car-number-out" type="text" placeholder="차량 번호"></input>
                    <button class="stop-parking">출차</button>  
                </div>
            </div>
            <div class="payment-btns">
                <button id="payment">주차요금 정산</button>
                <button id="buy-season-ticket">정기권 구매</button>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>