<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/parking.css">

    <title>Parkinglot</title>
</head>
<body>
    <div class="parking-container">
        <div class="inner-box">
            <div class="parking-text">Parking...</div>
            <button class="stop-parking">주차장 나가기</button>
        </div>
    </div>
    <script src="/js/parking.js"></script>
</body>
</html>