<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/seasonPayfinished.css">

    <title>Payment finished</title>
</head>
<body>
    <div class="parking-container">
        <div class="inner-box">
            <div class="thankyou-text">Thank you!</div>
            <div class="info-container">
              <div class="info-content">
                차량 번호&nbsp;<a id="carnumber"></a> <br>
                시작 날짜&nbsp;<a id="start"></a> <br>
                종료 날짜&nbsp;<a id="end"></a> <br>
                <button class="home-btn">주차장 들어가기</button>
              </div>
            </div>
        </div>
    </div>
    <script src="/js/seasonPayFinished.js"></script>

</body>
</html>